@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Kuber";
  src: url("/src/assets/fonts/FloodStdRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

/* Default font */
body {
  font-family: "Poppins", sans-serif;
}

/* Custom font utility class */
.font-kuber {
  font-family: "Kuber", "Poppins", sans-serif;
}